{% extends 'base.html.twig' %}
{% block body %}
    <div class="article">
        <article role="article" class="article_sheet">
            {% block article %}
            {% endblock %}
            <img class="article_logo" src="{{ asset('media/logo/horizontal-color.svg') }}" alt="">
        </article>
        {% block buttons %}
            {% if buttons %}
                <nav class="buttons">
                    {% for button in buttons %}
                        <a class="buttons_link" href="{{ button.link }}">
                            {% if button.icon is not null %}
                                <span class="fas fa-{{ button.icon }}"></span>
                            {% endif %}
                            {{ button.text }}
                        </a>
                    {% endfor %}
                </nav>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}