<div class="footer">
    <div class="footer__limiter">
        <div class="footer__column">
            <img class="footer__image" src="{{ asset('build/images/logo.png') }}" alt="">
            <p class="footer__text">
                We create possibilities for the connected world. We deliver software that defines our future.
            </p>
            <span class="footer__text footer__text--strong">Inspire yourself.</span>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">Explore</h3>
            <ul class="footer__links">
                <li><a class="footer__link" href="">Home</a></li>
                <li><a class="footer__link" href="">About</a></li>
                <li><a class="footer__link" href="">Capabilities</a></li>
                <li><a class="footer__link" href="">Careers</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">Visit</h3>
            <ul class="footer__links">
                <li><a class="footer__link" href="">Chorzowska 216/9</a></li>
                <li><a class="footer__link" href="">40-101 Katowice</a></li>
                <li><a class="footer__link" href="">Poland, Europe</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">Follow</h3>
            <ul class="footer__links">
                <li><a class="footer__link" href="">Facebook</a></li>
                <li><a class="footer__link" href="">Messenger</a></li>
                <li><a class="footer__link" href="">LinkedIn</a></li>
                <li><a class="footer__link" href="">Instagram</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__title">Legal</h3>
            <ul class="footer__links">
                <li><a class="footer__link" href="">GDPR</a></li>
                <li><a class="footer__link" href="">Terms of use</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="copyright__limiter">
        <span class="copyright__text">&copy; 2017-2021 Oskar Barcz. All rights reserved.</span>
    </div>
</div>
