<div class="footer">

</div>
<div class="copyright">
    <div class="copyright__limiter">
        <span class="copyright__text">&copy; 2017-2021 Oskar Barcz. All rights reserved.</span>
    </div>
</div>
