<div class="container container--dark">
    <div class="container__limiter section section--flex">
        <div class="section__element section__element--40">
            <img class="landing-image" src="{{ asset('build/images/logo.png') }}" alt="">
        </div>
        <div class="section__element section__element--60">
            <h1 class="text text--white text--extra">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
            <span class="text text--white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem beatae debitis deleniti deserunt
                ex id impedit ipsa labore magnam nemo reprehenderit rerum soluta suscipit, voluptates? Consequatur
                debitis dicta libero.
            </span>
        </div>
    </div>
</div>
