<div class="navigation">
    <div class="navigation__limiter">
        <span class="navigation__logo" style="color: #292929; font-weight: bold">AT</span>
        <ul class="navigation__links">
            <li class="navigation__element">
                <a class="navigation__link" href="">About me</a>
                <a class="navigation__link" href="">My projects</a>
                <a class="navigation__link" href="">My offer</a>
                <a class="navigation__link" href="">My clients</a>
                <a class="navigation__link" href="">Contact</a>
            </li>
        </ul>
    </div>
</div>
