<div class="navigation">
    <div class="navigation__limiter">
        <span class="navigation__logo" style="color: white; font-weight: bold">AT</span>
        <ul class="navigation__links">
            <li class="navigation__element">
                <a class="navigation__link" href="#our-team">Our team</a>
                <a class="navigation__link" href="#projects">Products</a>
                <a class="navigation__link" href="#offer">Offer</a>
                <a class="navigation__link" href="#our-clients">Our clients</a>
                <a class="navigation__link" href="#career">Career</a>
                <a class="navigation__link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</div>
