<div class="navigation">
    <div class="navigation__limiter">
        <span class="navigation__logo" style="color: white; font-weight: bold">AT</span>
        <ul class="navigation__links">
            <li class="navigation__element">
                <a class="navigation__link" href="">Our team</a>
                <a class="navigation__link" href="">Projects</a>
                <a class="navigation__link" href="">Offer</a>
                <a class="navigation__link" href="">Our clients</a>
                <a class="navigation__link" href="">Career</a>
                <a class="navigation__link" href="">Contact</a>
            </li>
        </ul>
    </div>
</div>
