{% extends 'base.html.twig' %}
{% block body %}
    {% include 'landing/components/_heading.html.twig' %}
    {% include 'landing/components/_navigation.html.twig' %}
    <section class="container" id="our-team">
        <div class="container__limiter section">
            <div class="title-box">
                <h2 class="title-box__text">Our team</h2>
            </div>
        </div>
    </section>
    <section class="container" id="projects">
        <div class="container__limiter section">
            <div class="title-box">
                <h2 class="title-box__text title-box__text--color">Projects</h2>
            </div>
        </div>
    </section>
    <section class="container" id="offer">
        <div class="container__limiter section">
            <div class="title-box">
                <h2 class="title-box__text">Offer</h2>
            </div>
        </div>
    </section>
    <section class="container" id="our-clients">
        <div class="container__limiter section">
            <div class="title-box">
                <h2 class="title-box__text title-box__text--color">Our clients</h2>
            </div>
        </div>
    </section>
    {% include 'landing/components/_contact.html.twig' %}
    {% include 'landing/components/_footer.html.twig' %}

    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v10.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution="biz_inbox"
         page_id="234281527077093">
    </div>

{% endblock %}
