.navigation
  &__limiter
    max-width: 1200px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
  &__links
    display: flex
    justify-content: flex-end
    align-items: center
  &__link
    display: inline-block
    padding: 15px 25px
    text-decoration: none
    color: $color-dark
    font-weight: 700
    &:focus, &:hover
      background: darken($color-white, 10)


