.projects {
    height: auto;
    background: #222;
    transform: skewY(3deg);
    @include shadow(6);
    margin: 0 auto;


    &__container {
        transform: skewY(-3deg);
        max-width: 1200px;
        margin: 0 auto;
    }

    &__hero-text {
        padding-top: 100px;
        font-size: 40px;
        font-family: "Yantramanav", "Arial Black", sans-serif;
        color: #f8f8f8;
    }
}

.project {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    padding-bottom: 100px;

    &__element {
        width: 250px;
        margin: 10px;
        background: #f8f8f8;
        @include shadow(3);
    }

    &__image {
        width: 250px;
        position: relative;
    }

    &__caption {
        position: absolute;
        top: 360px;
        width: 250px;
        height: 50px;
        line-height: 3;
        background: rgba(255, 255, 255, 0.3);
    }

    &__link {
        text-decoration: none;
        color: #ed2939;
    }

    &__description {
        padding: 10px;
        font-size: 14px;
        text-align: justify;
    }
}