@keyframes title--blink {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
        color: #ED2939;

    }
    90% {
        transform: scale(0.95);
        color: #ED2939;
    }
    100% {
        transform: scale(1.0);
        color: #ED2939;

    }
}