{% include "common/header.twig" %}

{# Landing section #}
<nav class="navbar">
    <h1><a class="navbar__title" href="#top">archi_tektur</a></h1>
    <ul class="navbar__links">
        <li>
            <a class="navbar__link" href="#about">O mnie</a>
        </li>
        <li>
            <a class="navbar__link" href="#projects">Projekty</a>
        </li>
        <li>
            <a class="navbar__link" href="#blog">Blog</a>
        </li>
        <li>
            <a class="navbar__link" href="#media">Media</a>
        </li>
        <li>
            <a class="navbar__link" href="#cooperation">Współpraca</a>
        </li>
        <li>
            <a class="navbar__link" href="#contact">Kontakt</a>
        </li>
    </ul>
</nav>

{# Landing section #}
<section class="landing">
    <div class="landing__container">
        <main class="landing__element">
            <h2 class="landing__name">Oskar Barcz</h2>
            <span class="landing__title">PHP Mid Developer</span>
            <p class="landing__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam porro quia.
                Accusantium, animi asperiores blanditiis culpa dolor dolorum eum eveniet facere itaque magni possimus
                repellendus, sequi ut vero voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum
                ea eligendi et fugit
                illum, labore magnam molestias optio placeat quod repellendus voluptatem. Architecto impedit
                necessitatibus nemo odit optio porro sequi! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium alias amet delectus, dolor earum eos ex magni maxime officiis.</p>
        </main>
        <div class="landing__element">
            <iframe class="landing__video"
                    src="https://www.youtube.com/embed/E0loT-U8G14?controls=0&origin=https://www.archi-tektur.pl"
                    allowfullscreen
            ></iframe>
        </div>
    </div>
</section>

{# Projects section #}
<section class="projects">
    <div class="projects__container">
        <h2 class="projects__hero-text">#projekty</h2>
        <div class="project">
            <figure class="project__element">
                <img class="project__image" src="https://via.placeholder.com/800x800?text=Project+image+xample" alt="">
                <figcaption class="project__caption">
                    <a class="project__link" href="https://www.link.com">www.link.com</a>
                </figcaption>
                <article class="project__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                    consequuntur earum, labore magnam quas quibusdam! Accusamus aut dicta, ea fugiat labore modi non
                    officiis quas quasi quisquam repellendus tempore velit.
                </article>
                <span class="project__technologies">
                    <span class="project__technology">HTML</span>
                    <span class="project__technology">HTML</span>
                </span>
                <span class="project__social-icons">
                    <a href="" class="project__social-icon"><span class="fab fa-facebook-f"></span></a>
                    <a href="" class="project__social-icon"><span class="fas fa-globe"></span></a>
                    <a href="" class="project__social-icon"><span class="fab fa-github"></span></a>
                    <a href="" class="project__social-icon"><span class="fab fa-creative-commons-sa"></span></a>
                </span>
            </figure>
            <figure class="project__element">
                <img class="project__image" src="https://via.placeholder.com/800x800?text=Project+image+xample" alt="">
                <figcaption class="project__caption">
                    <a class="project__link" href="https://www.link.com">www.link.com</a>
                </figcaption>
                <article class="project__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                    consequuntur earum, labore magnam quas quibusdam! Accusamus aut dicta, ea fugiat labore modi non
                    officiis quas quasi quisquam repellendus tempore velit.
                </article>
                <span class="project__technologies">
                    <span class="project__technology">HTML</span>
                    <span class="project__technology">HTML</span>
                </span>
                <span class="project__social-icons">
                    <a href="" class="project__social-icon"><span class="fab fa-facebook-f"></span></a>
                    <a href="" class="project__social-icon"><span class="fas fa-globe"></span></a>
                    <a href="" class="project__social-icon"><span class="fab fa-github"></span></a>
                    <a href="" class="project__social-icon"><span class="fab fa-creative-commons-sa"></span></a>
                </span>
            </figure>
            <figure class="project__element">
                <img class="project__image" src="https://via.placeholder.com/800x800?text=Project+image+xample" alt="">
                <figcaption class="project__caption">
                    <a class="project__link" href="https://www.link.com">www.link.com</a>
                </figcaption>
                <article class="project__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                    consequuntur earum, labore magnam quas quibusdam! Accusamus aut dicta, ea fugiat labore modi non
                    officiis quas quasi quisquam repellendus tempore velit.
                </article>
                <span class="project__technologies">
                    <span class="project__technology">HTML</span>
                    <span class="project__technology">HTML</span>
                </span>
                <span class="project__social-icons">
                    <a href="" class="project__social-icon"><span class="fab fa-facebook-f"></span></a>
                    <a href="" class="project__social-icon"><span class="fas fa-globe"></span></a>
                    <a href="" class="project__social-icon"><span class="fab fa-github"></span></a>
                    <a href="" class="project__social-icon"><span class="fab fa-creative-commons-sa"></span></a>
                </span>
            </figure>
            <figure class="project__element">
                <img class="project__image" src="https://via.placeholder.com/800x800?text=Project+image+xample" alt="">
                <figcaption class="project__caption">
                    <a class="project__link" href="https://www.link.com">www.link.com</a>
                </figcaption>
                <article class="project__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                    consequuntur earum, labore magnam quas quibusdam! Accusamus aut dicta, ea fugiat labore modi non
                    officiis quas quasi quisquam repellendus tempore velit.
                </article>
                <span class="project__technologies">
                    <span class="project__technology">HTML</span>
                    <span class="project__technology">HTML</span>
                </span>
                <span class="project__social-icons">
                    <a href="" class="project__social-icon"><span class="fab fa-facebook-f"></span></a>
                    <a href="" class="project__social-icon"><span class="fas fa-globe"></span></a>
                    <a href="" class="project__social-icon"><span class="fab fa-github"></span></a>
                    <a href="" class="project__social-icon"><span class="fab fa-creative-commons-sa"></span></a>
                </span>
            </figure>
        </div>

    </div>
</section>

{% include "common/footer.twig" %}