{% include "common/header.twig" %}

<nav class="navbar">
    <h1><a class="navbar__title" href="#top">archi_tektur</a></h1>
    <ul class="navbar__links">
        <li>
            <a class="navbar__link" href="#about">O mnie</a>
        </li>
        <li>
            <a class="navbar__link" href="#projects">Projekty</a>
        </li>
        <li>
            <a class="navbar__link" href="#blog">Blog</a>
        </li>
        <li>
            <a class="navbar__link" href="#media">Media</a>
        </li>
        <li>
            <a class="navbar__link" href="#cooperation">Współpraca</a>
        </li>
        <li>
            <a class="navbar__link" href="#contact">Kontakt</a>
        </li>
    </ul>
</nav>

<section class="landing">
    <p class="landing__text landing__text--animation">Animation typewriter style using css steps()</p>
</section>

{% include "common/footer.twig" %}