.blog
  width: 100%
  max-width: 900px
  height: 100%
  display: flex
  align-items: center
  flex-direction: column
  margin: 0 auto
  padding: 50px
  transition: 0.1s ease-in-out all
  @media (max-width: 660px)
    padding: 20px
  &_title
    margin-top: 100px
    font-size: 10em
    font-weight: bold
    color: $brand-color
    @media (max-width: 860px)
      font-size: 7em
      margin-top: 50px
    @media (max-width: 660px)
      font-size: 5em
  &_text
    font-size: 2em
    font-weight: bold
    color: $mid-grey
    @media (max-width: 860px)
      font-size: 1.5em
    @media (max-width: 860px)
      font-size: 1.3em
    @media (max-width: 370px)
      font-size: 1.1em
  &_back-button
    color: white
    text-align: center
    margin: 20px
    background: $brand-color
    border-radius: 4px
    padding: 4px 15px
    transition: 0.1s ease-in-out all
    @include shadow(1)
    @media (max-width: 370px)
      width: 80%
    &:focus, &:hover
      @include shadow(2)
      background: darken($brand-color, 10)