.contact-me
  padding: 50px 20% 50px
  background: #292929
  &_container
    display: flex
    //
    min-height: 150px
  &_element
    background: black
    margin: 20px
    &--links
      width: 40%
    &--form
      width: 60%