.contact-me
  padding: 50px 20% 50px
  background: #292929
  &_container
    display: flex
  &_element
    margin: 20px
    &--links
      width: 40%
    &--form
      width: 60%
  &_links
    display: flex
    flex-direction: column
  &_link
    display: flex
    flex-direction: row
    margin: 10px
    width: 250px
    transition: 0.1s ease-in-out all
    &:hover
      @include shadow(2)
      color: #FF2800
      background: #111
      border-radius: 5px
    &:hover .contact-me_icon
      transform: scale(1.25)
  &_icon
    display: flex
    align-items: center
    justify-content: center
    background: #F8F9FA
    border-radius: 5px
    height: 50px
    width: 50px
    font-size: 1.3em
  &_name
    letter-spacing: 2px
    font-weight: bold
    width: 200px
    display: flex
    align-items: center
    color: #F8F9FA
    font-size: 1.3em
    padding: 0 20px