.footer
  padding: 20px 20%
  background: #292929
  font-family: 'Arial', sans-serif
  line-height: 1
  @media(max-width: 1200px)
    padding: 20px 10%
    @media(max-width: 800px)
      padding: 20px
  &_text
    font-size: 0.8em
    color: #999999
    &--color
      display: inline-block
      color: $brand-color