.projects
  height: auto
  padding: 150px 0 50px
  background-size: 1440px 126px
  background: url("/media/layout/landing-bottom.svg") center top repeat-x #292929
  &_container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center