<div class="window_content" id="window-form">
    <form class="window_form form">
        <div class="form_row">
            <div class="form_item">
                <label class="form_label form_label--no-margin" for="field-name">
                    Wpisz swoje imię
                </label>
                <input class="form_input" placeholder="imię i/lub nazwisko" id="field-name"
                       type="text" required>
            </div>
            <div class="form_item">
                <label class="form_label form_label--no-margin" for="field-email">
                    Wpisz adres e-mail
                </label>
                <input class="form_input" placeholder="adres e-mail" id="field-email" type="email"
                       required>
            </div>
        </div>
        <div class="form_item">
            <label class="form_label form_label--no-margin" for="field-reason">
                W czym mogę Ci pomóc?
            </label>
            <select class="form_input form_input--select" id="field-reason" required>
                <option value="" disabled>Wybierz w czym mogę Ci pomóc</option>
                <option value="webpage">Strona internetowa</option>
                <option value="application">Aplikacja sieciowa</option>
                <option value="programming">Inne usługi z zakresu programowania</option>
                <option value="other">Coś zupełnie innego</option>
            </select>
        </div>
        <div class="form_item">
            <label class="form_label form_label--no-margin" for="field-content">
                Opisz swoje potrzeby
            </label>
            <textarea class="form_input form_input--textarea"
                      id="field-content" required
                      maxlength="2000"
                      placeholder="W razie potrzeby możesz rozciągnąć to pole w prawej dolnej krawędzi."
            ></textarea>
        </div>
        <div class="form_item form_item--to-sides">
            <a class="form_gdpr" target="_blank" href="{{ path('portfolio_gdpr') }}">
                <span class="fas fa-fw fa-lock"></span>
                Jak przetwarzam Twoje dane?
            </a>
            <button class="form_input form_input--submit"
                    id="button-submit" type="submit">
                Wyślij
            </button>
        </div>
    </form>
</div>