.section
  &--flex
    display: flex
    align-items: center
    justify-content: space-between
  &__element
    padding: 10px
    margin: 300px 0
    width: calc(50% - 10px)
    @media(max-width: 2000px)
      margin: 200px 0
    &--40
      width: calc(40% - 10px)
    &--60
      width: calc(60% - 10px)
