<div class="window_content" id="window-error">
    <article class="thanks-form">
        <h2 class="thanks-form_title">Wystąpił błąd podczas wysyłania wiadomości.</h2>
        <p class="thanks-form_content">
            Wystąpił nieoczekiwany błąd przy próbie wysyłania formularza, żadne dane nie zostały wysłane. Szczegóły
            błędu dostępne są w konsoli deweloperskiej. Postaram się jak najszybciej naprawić występujący błąd -
            tymczasem: spróbuj wypełnić formularz jeszcze raz.
        </p>
        <button class="thanks-form_button" id="button-error-back">Wróć do formularza</button>
    </article>
</div>