<div class="window_content" id="window-confirm">
    <article class="thanks-form">
        <h2 class="thanks-form_title">Dzięki za wysłanie wiadomości!</h2>
        <p class="thanks-form_content">Postaram się odpowiedzieć jak najszybciej. Kopię Twojej
            wiadomości wysłałem jako potwierdzenie Tobie na maila, sprawdź czy nie trafiła do spamu.
            Na wszystkie wiadomości staram się odpowiadać do 24 godzin, chociaż zazwyczaj jest to
            kwestia kilkudziesięciu minut. Może w międzyczasie zajrzysz na mojego
            <a class="thanks-form_blog" href="">bloga</a>?</p>
        <a class="thanks-form_button" id="button-backToForm" href="">Wróć do formularza</a>
    </article>
</div>