<section id="about-me" class="section about">
    <h2 class="visually-hidden">O mnie</h2>
    <div class="section_limiter about_container">
        <figure class="about_element image">
            <img src="{{ asset('/media/yt-video-cover-min.png') }}" alt="" class="image_src">
            <a href="https://www.youtube.com/watch?v=E0loT-U8G14" target="_blank" class="image_overlay">
                <span class="image_text">Otwórz film na platformie</span>
                <img class="image_yt-icon" src="{{ asset('media/yt-logo-min.png'K) }}" alt="">
            </a>
            <figcaption class="image_help-text">
                Kliknij by odtworzyć film w osobnym oknie
            </figcaption>
        </figure>
        <article class="about_element">
            <h2 class="about_name">Oskar Barcz</h2>
            <span class="about_title">PHP Developer / Software ArchitectK, 20 lat</span>
            <p class="about_text">
                Cześć, jestem Oskar. Zajmuję się programowaniem serwerów i aplikacji webowych. Pracuję na codzień z
                Symfony, Doctrine, Redisem, Dockerem oraz wieloma innymi technologiami dla kluczowych klientów z Polski
                i Niemiec. Moim głównym środowiskiem pracy jest backend, ale nie jest mi obcy frontend, szczególnie
                pisany w React. Na codzień zajmuję się architekturą oprogramowania oraz projektowaniem i wdrażaniem
                zaplanowanych rozwiązań w życie.
            </p>
        </article>
    </div>
</section>