<section id="about-me" class="section about">
    <h2 class="visually-hidden">O mnie</h2>
    <div class="section_limiter about_container">
        <figure class="about_element image">
            <img src="{{ asset('/media/yt-video-cover.png') }}" alt="" class="image_src">
            <a href="https://www.youtube.com/watch?v=E0loT-U8G14" target="_blank" class="image_overlay">
                <span class="image_text">Otwórz film na platformie</span>
                <img class="image_yt-icon" src="{{ asset('media/yt-logo.png') }}" alt="">
            </a>
            <figcaption class="image_help-text">
                Kliknij by odtworzyć film w osobnym oknie
            </figcaption>
        </figure>
        <article class="about_element">
            <h2 class="about_name">Oskar Barcz</h2>
            <span class="about_title">PHP Regular Developer, 19 lat</span>
            <p class="about_text">
                Nazywam się Oskar, interesuję się informatyką i technologiami webowymi. Ukończyłem technikum na
                profilu Technik Informatyk, obecnie jestem Regular PHP Developerem. Pracuję na codzień z Symfony,
                Doctrine, Redisem, Dockerem oraz wieloma innymi technologiami. Używam płynnie HTML5 oraz CSS3,
                bezproblemowo radzę sobie z Responsive Web Design.
            </p>
        </article>
    </div>
</section>