<section class="section contact-me">
    <div class="section_limiter">
        <h1 class="section_title section_title">Nawiążmy kontakt</h1>
        <div class="contact-me_container">
            <section class="contact-me_element contact-me_element--links"></section>
            <div class="contact-me_element contact-me_element--form">
                <section class="window">
                    <div class="window_bar">
                        <h2 class="window_title">Skontaktuj się ze mną</h2>
                        <div class="window_small-icons">
                            <span class="window_small-icon"></span>
                            <span class="window_small-icon"></span>
                            <span class="window_small-icon"></span>
                        </div>
                    </div>
                    <article class="window_content window_content--invisible" id="windowContent">
                        <form class="window_form form" action="">
                            <div class="form_row">
                                <div class="form_item">
                                    <label class="form_label form_label--no-margin" for="name">Wpisz swoje imię</label>
                                    <input class="form_input" placeholder="Imię i/lub nazwisko" id="name"
                                           type="text" required>
                                </div>
                                <div class="form_item">
                                    <label class="form_label form_label--no-margin" for="email">
                                        Wpisz adres e-mail
                                    </label>
                                    <input class="form_input"
                                           placeholder="Adres e-mail"
                                           id="email"
                                           type="email"
                                           required>
                                </div>
                            </div>
                            <div class="form_item">
                                <label class="form_label form_label--no-margin" for="reason">
                                    W czym mogę Ci pomóc?
                                </label>
                                <select class="form_input form_input--select" id="reason" required>
                                    <option value="" disabled>Wybierz w czym mogę Ci pomóc</option>
                                    <option value="webpage">Strona internetowa</option>
                                    <option value="application">Aplikacja sieciowa</option>
                                    <option value="programming">Inne usługi z zakresu programowania</option>
                                    <option value="other">Coś zupełnie innego</option>
                                </select>
                            </div>
                            <div class="form_item">
                                <label class="form_label form_label--no-margin" for="content">
                                    Opisz swoje potrzeby
                                </label>
                                <textarea class="form_input form_input--textarea" id="content" required
                                          placeholder="W razie potrzeby możesz rozciągnąć to pole w prawej dolnej krawędzi."></textarea>
                            </div>
                            <div class="form_item form_item--to-right">
                                <button class="form_input form_input--submit" type="submit">Wyślij</button>
                            </div>
                        </form>
                    </article>
                    <article class="window_content" content="windowContent">
                        <div class="thanks-form">
                            <h2 class="thanks-form_title">Dzięki za wysłanie wiadomości!</h2>
                            <p class="thanks-form_content">Postaram się odpowiedzieć jak najszybciej. Kopię Twojej
                                wiadomości wysłałem jako potwierdzenie Tobie na maila, sprawdź czy nie trafiła do spamu.
                                Na wszystkie wiadomości staram się odpowiadać do 24 godzin, chociaż zazwyczaj jest to
                                kwestia kilkudziesięciu minut. Może w międzyczasie zajrzysz na mojego
                                <a class="thanks-form_blog" href="">bloga</a>?</p>
                            <a class="thanks-form_button" href="">Wróć do formularza</a>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</section>