<footer class="footer">
    <div class="footer_limiter">
        <span class="footer_text">Copyright <span class="footer_text--color">@archi_tektur</span> 2019, wszelkie prawa
        zastrzeżone.</span>

        <div class="footer_company-info">
            <span class="footer_text">NIP: <span class="footer_text--bold">9542811840</span></span>
            <span class="footer_text">REGON: <span class="footer_text--bold">385362785</span></span>
        </div>
    </div>
</footer>