<nav class="navigation">
    <img class="navigation_logo" src="{{asset('media/logo/horizontal-color.svg')}}" alt="">
    <ul class="navigation_links">
        <li><a class="navigation_link" href="">O mnie</a></li>
        <li><a class="navigation_link" href="">Programowanie</a></li>
        <li><a class="navigation_link" href="">Blog</a></li>
        <li><a class="navigation_link" href="">Kontakt</a></li>
    </ul>
</nav>