<nav class="navigation">
    <div class="navigation_mobile-belt">
        <img class="navigation_logo" src="{{asset('media/logo/horizontal-color.svg')}}" alt="">
        <span class="fas fa-bars fa-fw navigation_hamburger"></span>
    </div>
    <ul class="navigation_links">
        <li><a class="navigation_link" href="">O mnie</a></li>
        <li><a class="navigation_link" href="">Programowanie</a></li>
        <li><a class="navigation_link" href="">Blog</a></li>
        <li><a class="navigation_link" href="">Kontakt</a></li>
    </ul>
</nav>