<section class="section blog">
    <h1 class="section_title section_title--dark">Blog</h1>
    <div class="blog_soon">
        <span class="blog_letter">J</span>
        <span class="blog_letter">U</span>
        <span class="blog_letter">Z</span>
        <span class="blog_space"></span>
        <span class="blog_letter">W</span>
        <span class="blog_letter">K</span>
        <span class="blog_letter">R</span>
        <span class="blog_letter">O</span>
        <span class="blog_letter">T</span>
        <span class="blog_letter">C</span>
        <span class="blog_letter">E</span>
    </div>
</section>