<section class="section projects">
    <div class="section_limiter">
        <h1 class="section_title">Moje projekty</h1>
        <div class="projects_container">
            <div class="projects_vertical">
                <figure class="project">
                    <img class="project_image" src="https://via.placeholder.com/500x500" alt="">
                    <h2 class="project_name">Strona WWW dla Staldom</h2>
                    <figcaption class="project_description">
                        Projekt prostej strony internetowej dla firmy zajmującej się budową domów z konstrukcji
                        stalowych.
                    </figcaption>
                    <div class="project_technologies">
                        <span class="project_technology">HTML5</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">SASS</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">TypeScript</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">RWD</span>
                    </div>
                    <div class="project_links">
                        <a href="https:/staldom.pl" target="_blank" class="project_link">
                            <span class="project_link-icon fas fa-globe fa-fw"></span>
                            <span class="project_link-title">Strona WWW</span>
                        </a>
                    </div>
                </figure>
                <figure class="project">
                    <h2 class="project_name">ArchFW</h2>
                    <figcaption class="project_description">
                        Autorski mikroframework pisany na potrzeby budowania prostych i niezawodnych aplikacji
                        internetowych i mikroserwisów.
                    </figcaption>
                    <div class="project_technologies">
                        <span class="project_technology">PHP&nbsp;7.3</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">Twig</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">MVC</span>
                    </div>
                    <div class="project_links">
                        <a href="https://github.com/archi-tektur/arch-fw" target="_blank" class="project_link">
                            <span class="project_link-icon fab fa-github fa-fw"></span>
                            <span class="project_link-title">GitHub</span>
                        </a>
                        <a href="https://github.com/archi-tektur/arch-fw/blob/master/README.md" target="_blank"
                           class="project_link">
                            <span class="project_link-icon fas fa-globe fa-fw"></span>
                            <span class="project_link-title">Strona WWW</span>
                        </a>
                    </div>
                </figure>
                <figure class="project">
                    <h2 class="project_name">JPBManager</h2>
                    <figcaption class="project_description">
                        Aplikacja internetowa zajmująca się organizacją pracy w fabryce Jokey Plastik Blachownia,
                        powstała w ramach projektu "Opolskie Szkolnictwo Zawodowe Bliżej Rynku Pracy 2".
                    </figcaption>
                    <div class="project_technologies">
                        <span class="project_technology">Symfony</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">Node.js</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">TypeScript</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">Doctrine</span>
                    </div>
                    <div class="project_links">
                        <a href="http://opole.wyborcza.pl/opole/7,35086,22720328,najwazniejsze-to-nie-bac-sie-zmiany-czyli-jak-zdobyc-dobra.html"
                           class="project_link" target="_blank">
                            <span class="project_link-icon fas fa-globe fa-fw"></span>
                            <span class="project_link-title">Artykuł w prasie</span>
                        </a>
                    </div>
                </figure>
            </div>
            <div class="projects_vertical">
                <figure class="project">
                    <h2 class="project_name">DigitaleSchieneDeutschland</h2>
                    <figcaption class="project_description">
                        Oprogramowanie wspomagające układanie rozkładów jazdy oraz
                        zarządzanie ruchem kolejowym na terenie bocznic kolejowych.
                    </figcaption>
                    <div class="project_technologies">
                        <span class="project_technology">PHP&nbsp;7.3</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">ReactPHP</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">Doctrine</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">ElasticSearch</span>
                    </div>
                    <div class="project_links">
                        <a href="https://www.digitale-schiene-deutschland.de/" target="_blank" class="project_link">
                            <span class="project_link-icon fas fa-globe fa-fw"></span>
                            <span class="project_link-title">Strona WWW o projekcie</span>
                        </a>
                    </div>
                </figure>
                <figure class="project">
                    <img class="project_image" src="https://via.placeholder.com/500x500" alt="">
                    <h2 class="project_name">Gra Town of Salem</h2>
                    <figcaption class="project_description">
                        Prosta gra tekstowa stworzona na GameJam'ie, pokazująca że w PHP także można tworzyć gry.
                        Raczej ciekawostka niż porządny soft.
                    </figcaption>
                    <div class="project_technologies">
                        <span class="project_technology">PHP&nbsp;7.3</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">ArchFW</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">MySQL</span>

                    </div>
                    <div class="project_links">
                        <a href="" target="_blank" class="project_link">
                            <span class="project_link-icon fab fa-github fa-fw"></span>
                            <span class="project_link-title">GitHub</span>
                        </a>
                        <a href="https://tos.archi-tektur.pl/" target="_blank" class="project_link">
                            <span class="project_link-icon fas fa-globe fa-fw"></span>
                            <span class="project_link-title">Strona WWW</span>
                        </a>
                    </div>
                </figure>
                <figure class="project">
                    <h2 class="project_name">Examiner</h2>
                    <figcaption class="project_description">
                        Oprogramowanie do przeprowadzania zautomatyzowanych egzaminów i kartkówek w pracowniach
                        informatycznych. Intuicyjny interfejs ułatwia pracę nauczycieli.
                    </figcaption>
                    <div class="project_technologies">
                        <span class="project_technology">HTML5</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">TypeScript</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">Symfony</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">Doctrine</span>
                    </div>
                    <div class="project_links">
                        <a href="https://github.com/archi-tektur/examiner" class="project_link">
                            <span class="project_link-icon fab fa-github fa-fw"></span>
                            <span class="project_link-title">GitHub</span>
                        </a>
                    </div>
                </figure>
            </div>
            <div class="projects_vertical">
                <figure class="project">
                    <img class="project_image" src="https://via.placeholder.com/500x500" alt="">
                    <h2 class="project_name">Strona dla turnieju esportowego</h2>
                    <figcaption class="project_description">
                        KK-Tournament to turniej, który zorganizowałem wraz ze znajomymi i nauczycielami. Budżet
                        imprezy przekroczył kwotę 100k PLN. Moim zadaniem podczas eventu było zapewnienie niezawodnej
                        obsługi technologicznej, w tym najważnieszą funkcję strony: obsługę formularza rejestracji
                        użytkowników.
                    </figcaption>
                    <div class="project_technologies">
                        <span class="project_technology">HTML5</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">SASS</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">VanillaJS</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">ArchFW</span>
                    </div>
                    <div class="project_links">
                        <a href="https://github.com/archi-tektur/kk-tournament" class="project_link">
                            <span class="project_link-icon fab fa-github fa-fw"></span>
                            <span class="project_link-title">GitHub</span>
                        </a>
                        <a href="https://dev.kkesports.pl/" class="project_link">
                            <span class="project_link-icon fas fa-globe fa-fw"></span>
                            <span class="project_link-title">Strona WWW</span>
                        </a>
                    </div>
                </figure>
                <figure class="project">
                    <h2 class="project_name">Blog archi_tektur</h2>
                    <figcaption class="project_description">
                        Blog techniczny w trakcie tworzenia, na którym publikować zamierzam materiały o szeroko
                        pojętej informatyce, technice, być może także fotografii. Premiera już niedługo, stay tuned!
                    </figcaption>
                    <div class="project_technologies">
                        <span class="project_technology">HTML5</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">CKEditor</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">Symfony</span>
                        <span class="project_separator">|</span>
                        <span class="project_technology">Doctrine</span>
                    </div>
                    <div class="project_links">
                        <a href="https://github.com/archi-tektur/blog" target="_blank" class="project_link">
                            <span class="project_link-icon fab fa-github fa-fw"></span>
                            <span class="project_link-title">GitHub</span>
                        </a>
                    </div>
                </figure>
                <a href="https://www.github.com/archi-tektur" class="project project--see-more">
                    <h2 class="project_text">Zobacz więcej...</h2>
                </a>
            </div>
        </div>
    </div>
</section>