<section class="section projects">
    <div class="section_limiter">
        <h1 class="section_title">Moje projekty</h1>
        <div class="projects_container">
            <figure class="project">
                <img class="project_image" src="https://via.placeholder.com/500" alt="">
                <h2 class="project_name">Project name</h2>
                <figcaption class="project_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Architecto aut autem blanditiis corporis dolore, et incidunt ipsum nesciunt nostrum voluptatum.
                    Debitis eius non perspiciatis quisquam quod repellat unde. Expedita, quas!
                </figcaption>
                <div class="project_technologies">
                    <span class="project_technology">HTML5</span><span class="project_separator">|</span>
                    <span class="project_technology">TypeScript</span><span class="project_separator">|</span>
                    <span class="project_technology">Symfony 4</span><span class="project_separator">|</span>
                    <span class="project_technology">Doctrine ORM</span><span class="project_separator">|</span>
                </div>
                <div class="project_links">
                    <a class="project_link">
                        <span class="project_link-icon"></span>
                        <span class="project_link-title"></span>
                    </a>
                </div>
            </figure>

        </div>
    </div>
</section>