<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/media/favicons/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/media/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicons/favicon-16x16.png">
    <link rel="manifest" href="/media/favicons/site.webmanifest">
    <link rel="mask-icon" href="/media/favicons/safari-pinned-tab.svg" color="#ff2800">
    <link rel="shortcut icon" href="/media/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Portfolio">
    <meta name="application-name" content="Portfolio">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/media/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/media/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="https://archi-tektur.pl/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="archi_tektur | oprogramowanie dla firm">
    <meta property="og:image" content="https://archi-tektur.pl/{{ asset('/media/logo/horizontal-color.svg') }}">
    <meta property="og:description" content="Oskar Barcz | Usługi programistyczne dla Ciebie">
    <meta property="og:site_name" content="archi_tektur">
    <meta property="og:locale" content="pl_PL">
    <meta property="article:author" content="Oskar Barcz">

    <meta name="keywords" content="php, developer, katowice, oskar barcz, oskar, barcz">

    <meta name="robots" content="index, follow"/>
    <meta name="description"
          content="Cześć, jestem Oskar i chętnie pomogę Tobie i/lub Twojej formie stworzyć każdy projekt!">


    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
              integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
              crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
