{% extends 'base.html.twig' %}
{% block body %}
    {% include 'sections/nav.html.twig' %}
    {% include 'sections/about-me.html.twig' %}
    <div style="height: 1000px"></div>
    {% include 'sections/technologies.html.twig' %}
    <div style="height: 1000px"></div>
{% endblock %}