<section id="contact" class="section section--dark contact-me">
    <div class="section_limiter">
        <h1 class="section_title">Nawiążmy kontakt</h1>
        <div class="contact-me_container">
            <div class="contact-me_element contact-me_element--links">
                <nav class="contact-me_links">
                    <a href="https://www.facebook.com/architekturpl/" class="contact-me_link" target="_blank">
                        <span class="contact-me_icon fab fa-facebook-f"></span>
                        <span class="contact-me_name">Facebook</span>
                    </a>
                    <a href="" target="_blank" class="contact-me_link">
                        <span class="contact-me_icon fab fa-facebook-messenger"></span>
                        <span class="contact-me_name">Messenger</span>
                    </a>
                    <a href="https://www.linkedin.com/in/archi-tektur/" class="contact-me_link" target="_blank">
                        <span class="contact-me_icon fab fa-linkedin-in"></span>
                        <span class="contact-me_name">LinkedIn</span>
                    </a>
                    <a href="https://www.github.com/archi-tektur" target="_blank" class="contact-me_link">
                        <span class="contact-me_icon fab fa-github"></span>
                        <span class="contact-me_name">Github</span>
                    </a>
                </nav>
            </div>
            <div class="contact-me_element contact-me_element--form">
                <section class="window">
                    <div class="window_bar">
                        <h2 class="window_title">Skontaktuj się ze mną</h2>
                        <div class="window_small-icons">
                            <span class="window_small-icon"></span>
                            <span class="window_small-icon"></span>
                            <span class="window_small-icon"></span>
                        </div>
                    </div>
                    <div class="window_content" id="window-form">
                        <form class="window_form form">
                            <div class="form_row">
                                <div class="form_item">
                                    <label class="form_label form_label--no-margin" for="field-name">
                                        Wpisz swoje imię
                                    </label>
                                    <input class="form_input" placeholder="imię i/lub nazwisko" id="field-name"
                                           type="text" required>
                                </div>
                                <div class="form_item">
                                    <label class="form_label form_label--no-margin" for="field-email">
                                        Wpisz adres e-mail
                                    </label>
                                    <input class="form_input" placeholder="adres e-mail" id="field-email" type="email"
                                           required>
                                </div>
                            </div>
                            <div class="form_item">
                                <label class="form_label form_label--no-margin" for="field-reason">
                                    W czym mogę Ci pomóc?
                                </label>
                                <select class="form_input form_input--select" id="field-reason" required>
                                    <option value="" disabled>Wybierz w czym mogę Ci pomóc</option>
                                    <option value="webpage">Strona internetowa</option>
                                    <option value="application">Aplikacja sieciowa</option>
                                    <option value="programming">Inne usługi z zakresu programowania</option>
                                    <option value="other">Coś zupełnie innego</option>
                                </select>
                            </div>
                            <div class="form_item">
                                <label class="form_label form_label--no-margin" for="field-content">
                                    Opisz swoje potrzeby
                                </label>
                                <textarea class="form_input form_input--textarea"
                                          id="field-content" required
                                          maxlength="2000"
                                          placeholder="W razie potrzeby możesz rozciągnąć to pole w prawej dolnej krawędzi."
                                ></textarea>
                            </div>
                            <div class="form_item form_item--to-sides">
                                <a class="form_gdpr" target="_blank" href="{{ path('portfolio_gdpr') }}">
                                    <span class="fas fa-fw fa-lock"></span>
                                    Jak przetwarzam Twoje dane?
                                </a>
                                <button class="form_input form_input--submit"
                                        id="button-submit" type="submit">
                                    Wyślij
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="window_content window_content--invisible" id="window-confirmation">
                        <article class="thanks-form">
                            <h2 class="thanks-form_title">Dzięki za wysłanie wiadomości!</h2>
                            <p class="thanks-form_content">Postaram się odpowiedzieć jak najszybciej. Kopię Twojej
                                wiadomości wysłałem jako potwierdzenie Tobie na maila, sprawdź czy nie trafiła do spamu.
                                Na wszystkie wiadomości staram się odpowiadać do 24 godzin, chociaż zazwyczaj jest to
                                kwestia kilkudziesięciu minut. Może w międzyczasie zajrzysz na mojego
                                <a class="thanks-form_blog" href="">bloga</a>?</p>
                            <a class="thanks-form_button" id="button-backToForm" href="">Wróć do formularza</a>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>