<section id="contact" class="section section--dark contact-me">
    <div class="section_limiter">
        <h1 class="section_title">Nawiążmy kontakt</h1>
        <div class="contact-me_container">
            <div class="contact-me_element contact-me_element--links">
                <nav class="contact-me_links">
                    <a href="https://www.facebook.com/architekturpl/" class="contact-me_link" target="_blank">
                        <span class="contact-me_icon fab fa-facebook-f"></span>
                        <span class="contact-me_name">Facebook</span>
                    </a>
                    <a href="" target="_blank" class="contact-me_link">
                        <span class="contact-me_icon fab fa-facebook-messenger"></span>
                        <span class="contact-me_name">Messenger</span>
                    </a>
                    <a href="https://www.linkedin.com/in/archi-tektur/" class="contact-me_link" target="_blank">
                        <span class="contact-me_icon fab fa-linkedin-in"></span>
                        <span class="contact-me_name">LinkedIn</span>
                    </a>
                    <a href="https://www.github.com/archi-tektur" target="_blank" class="contact-me_link">
                        <span class="contact-me_icon fab fa-github"></span>
                        <span class="contact-me_name">Github</span>
                    </a>
                </nav>
            </div>
            <div class="contact-me_element contact-me_element--form">
                <section class="window">
                    <div class="window_bar">
                        <h2 class="window_title">Skontaktuj się ze mną</h2>
                        <div class="window_small-icons">
                            <span class="window_small-icon"></span>
                            <span class="window_small-icon"></span>
                            <span class="window_small-icon"></span>
                        </div>
                    </div>
                    {% include '@Portfolio/components/contact-form/form.html.twig' %}
                    {% include '@Portfolio/components/contact-form/error.html.twig' %}
                    {% include '@Portfolio/components/contact-form/success.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</section>