<div id="gdpr-info" class="cookies">
    <div class="cookies_limiter">
        <img class="cookies_image" src="{{ asset('media/cookie.svg') }}" alt="">
        <span class="cookies_info">Jak każda strona - wykorzystujemy pliki cookies.
                <a class="cookies_link" href="{{ path('portfolio_gdpr') }}">Tutaj znajdziesz informację o rodzaju
                ciasteczek oraz możliwości zmiany ustawień przeglądarki.</a></span>
    </div>
    <button class="cookies_close">&times;</button>
</div>