<svg preserveAspectRatio="xMidYMax meet"
     class="svg-separator sep4"
     viewBox="0 0 1600 200"
     style="display:block; background: #292929"
     data-height="200">
    <polygon class="" style="fill: #F8F9FA;"
             points="886,86 800,172 714,86 -4,86 -4,204 1604,204 1604,86 "></polygon>
    <polygon class="" style="opacity: 0.4;fill: #FF2800;"
             points="800,172 886,86 900,86 800,186 700,86 714,86 "></polygon>
    <polygon class="" style="opacity: 1;fill: #FF2800;"
             points="800,162 876,86 888,86 800,174 712,86 724,86 "></polygon>
</svg>
<section class="section stack">
    <div class="section_limiter">
        <h1 class="section_title section_title--dark">Mój stack</h1>
        <div class="stack_container">
            <ul class="stack_list">
                <li class="stack_element stack_element--title">Front-end</li>
                <li class="stack_element">HTML5</li>
                <li class="stack_element">CSS3</li>
                <li class="stack_element">SASS</li>
                <li class="stack_element">Vanilla JS</li>
                <li class="stack_element">jQuery (tak, nadal...)</li>
                <li class="stack_element">TypeScript</li>
            </ul>
            <ul class="stack_list">
                <li class="stack_element stack_element--title">Back-end</li>
                <li class="stack_element">PHP</li>
                <li class="stack_element">Symfony 4</li>
                <li class="stack_element">Twig</li>
                <li class="stack_element">PHPUnit</li>
            </ul>
            <ul class="stack_list">
                <li class="stack_element stack_element--title">Bazy danych</li>
                <li class="stack_element">MySQL</li>
                <li class="stack_element">PostgreSQL</li>
                <li class="stack_element">Doctrine ORM</li>
                <li class="stack_element">SQL</li>
            </ul>
            <ul class="stack_list">
                <li class="stack_element stack_element--title">Narzedzia</li>
                <li class="stack_element">PhpStorm IDE</li>
                <li class="stack_element">Git</li>
                <li class="stack_element">Docker</li>
                <li class="stack_element">Gulp</li>
                <li class="stack_element">Webpack Encore</li>
            </ul>
            <ul class="stack_list">
                <li class="stack_element stack_element--title">Metodologie</li>
                <li class="stack_element">SOLID</li>
                <li class="stack_element">DRY</li>
                <li class="stack_element">BEM</li>
                <li class="stack_element">DDD</li>
                <li class="stack_element">Agile</li>
            </ul>
        </div>
    </div>
</section>